// Variables
$primary-color: #004aad;
$secondary-color: #d7e5fa;
$link-color:#1468d6;
$hover-color: red;
$accent-color: red;
$text-color: #333;
$background-color: #f9f9f9;
$card-bg: #fff;
$border-radius: 10px;
$box-shadow: 0 2px 8px rgba(0,0,0,0.04);
$transition: 0.2s;
$max-width: 1500px;
$breakpoint-md: 700px;
$breakpoint-sm: 600px;