<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a flashcard</title>
</head>
<body>
    <from>
        <div>
            <datalist id="sublist">
                {% for subject in subjects %}   
                    <option value="{{ subject }}">{{ subject}}</option>
                {% endfor %}
            </datalist>
        </div>
        <div>
            <input type="text" name = 'question'>
            <input type="text" name="answer">
        </div>
    </from>
</body>
</html>