{% extends "layout.html" %}

        {% block title %}
            Explore Subjects
        {% endblock %}

        {% block content %}
            <section class="overview">
                <div>
                    <h3>Core Subjects</h3>
                    <div>
                        <ul>
                            {% for key, value in core_subjects.items %}
                                <li>
                                    <a href="{% url 'learn:'|add:value  %}">{{ key }}</a>
                                </li>
                            {% endfor %}
                            <!--Use  dictionary with subject-URL to list the subjects -->
                        </ul>
                    </div>
                </div>
            </section>

            <section class="overview">
                <div>
                    <h3>General Science Electives:</h3>
                    <div>
                        <ul>
                            <li></li>
                            <!--Use  dictionary with subject-URL to list the subjects -->
                        </ul>
                    </div>
                </div>
            </section>

            <section class="overview">
                <div>
                    <h3>Business Electives:</h3>
                    <div>
                        <ul>
                            <!--Use  dictionary with subject-URL to list the subjects -->
                        </ul>
                    </div>
                </div>
            </section>
            
            <section class="overview">
                <div>
                    <h3>General Arts Electives:</h3>
                    <div>
                        <ul>
                            <!--Use  dictionary with subject-URL to list the subjects -->
                        </ul>
                    </div>
                </div>
            </section>
        {% endblock %}