{% extends "layout.html" %}
{% load static %}

    {% block title %}
        Explore Subjects
    {% endblock %}

    {% block content %}
        <section class="section-block sub" id = "core-sub">
                <h3>Core Subjects</h3>
                <div class ="subject-list">
                    <ul>
                        {% for key, value in core_subjects.items %}
                            <li>
                                <a class="subject" href="{% url 'learn:'|add:value  %}">{{ key }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </section>

        <section class="section-block sub" id = "Sci-elect">
            <h3>General Science Electives:</h3>
            <div class="subject-list">
                <ul>
                    {% for key, value in general_science_electives.items %}
                        <li>
                            <a class="subject" href="{% url 'learn:'|add:value  %}">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="section-block sub" id = "Bus-elect">
            <h3>Business Electives:</h3>
            <div class="subject-list">
                <ul>
                    {% for key, value in business_electives.items %}
                        <li>
                            <a class="subject" href="{% url 'learn:'|add:value  %}">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        
        <section class="section-block sub" id = "Gen-elect">
            <h3>General Arts Electives:</h3>
            <div class="subject-list">
                <ul>
                    {% for key, value in general_arts_electives.items %}
                        <li>
                            <a class="subject" href="{% url 'learn:'|add:value  %}">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endblock %}